@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F9FA; /* Slightly off-white for depth */
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
